Sunshine/app/src/main/java/com/nanodegree/tejomai/sunshine/ForecastFragment.java
Sunshine/gradle.properties
Sunshine/.gradle/
Sunshine/.idea/
Sunshine/Sunshine.iml
Sunshine/app/app.iml
Sunshine/build/generated/mockable-android-25.jar
Sunshine/build/intermediates/dex-cache/cache.xml
Sunshine/local.properties
.idea/workspace.xml
